<aside class="left-sidebar sidebar-dark" id="left-sidebar">
  <div id="sidebar" class="sidebar sidebar-with-footer">
    <!-- Aplication Brand -->
    <div class="app-brand">
      <a href="https://demo.themefisher.com/index.html">
        <img src="../../assets/images/logo.png" alt="Mono" />
        <span class="brand-name">MONO</span>
      </a>
    </div>
    <!-- begin sidebar scrollbar -->
    <div class="sidebar-left" data-simplebar style="height: 100%">
      <!-- sidebar menu -->
      <ul class="nav sidebar-inner" id="sidebar-menu">
        <li class="section-title">Accueil</li>
        <li class="active">
          <a class="sidenav-item-link" routerLink="tableau-bord">
            <i class="mdi mdi-briefcase-account-outline"></i>
            <span class="nav-text">Tableau de Bord</span>
          </a>
        </li>


        <li class="section-title">produits</li>

        <li>
          <a class="sidenav-item-link" routerLink="list-produits">
            <i class="mdi mdi-wechat"></i>
            <span class="nav-text">Type de produits</span>
          </a>
        </li>

        <li>
          <a class="sidenav-item-link" routerLink="produits">
            <i class="mdi mdi-phone"></i>
            <span class="nav-text">Mes produits</span>
          </a>
        </li>


        <li class="section-title">Commandes</li>


        <li>
          <a class="sidenav-item-link" routerLink="commands">
            <i class="mdi mdi-wechat"></i>
            <span class="nav-text">Mes commandes</span>
          </a>
        </li>


        <li class="section-title">Ventes</li>


        <li>
          <a class="sidenav-item-link" routerLink="ventes">
            <i class="mdi mdi-wechat"></i>
            <span class="nav-text">Mes ventes</span>
          </a>
        </li>

        <li class="section-title">Compte</li>

        <li>
          <a class="sidenav-item-link" routerLink="profil">
            <i class="mdi mdi-airplane"></i>
            <span class="nav-text">Mon profil</span>
          </a>
        </li>

      </ul>
    </div>

    <div class="sidebar-footer">
      <div class="sidebar-footer-content">
        <ul class="d-flex">
          <li>
            <a
              href="user-account-settings.html"
              data-toggle="tooltip"
              title="Profile settings"
              ><i class="mdi mdi-settings"></i
            ></a>
          </li>
          <li>
            <a href="#" data-toggle="tooltip" title="No chat messages"
              ><i class="mdi mdi-chat-processing"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</aside>
